.primaryBtn{
    width: 200px;
    max-width: 300px;
    margin: 0 10px;
}
.primaryBtn>button{
    width: 100%;
    padding: 10px;
    height: 100%;
    cursor: pointer;
    background-color: rgb(50, 187, 237);
    border-radius: 4px;
    color: white;
    border: none;
    font-size: 18px;
    outline: none;
}
.button{
    width: 100px;
    max-width: 200px;
    margin: 0 10px;
}
.button>button{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    height: 100%;
    background-color: red;
    border-radius: 4px;
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
}